/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #dee3e8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.magnify { position: relative; cursor: none}

/*Lets create the magnifying glass*/
.large {
    z-index: 2;
    width: 175px; height: 175px;
    position: absolute;
    border-radius: 100%;
	
    /*Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
                0 0 7px 7px rgba(0, 0, 0, 0.25), 
                inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
    /*hide the glass by default*/
    display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small {
     display: block; 
    max-height: 30rem;
}


.rate {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.rate .star {
    margin: 0;
    padding: .2em;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px #000, 0 -1px #000, 1px 0 #000, -1px 0 #000;
}

.star:visited {
    color: aqua;
}

.rate .star:before {
    content: '\2605';
}

.rate .star:hover ~ .star {
    color: #fff;
}

.product-title {
    color: black;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
}

.product-desc {
    color: black;
    max-height: 50px;
    overflow: hidden;
}

.product-price {
    color: black;
    bottom: 15px;
    width: 100%;
    color: #d51e08;
    font-size: 18px;
    font-weight: 500;
}

.product-link:hover {
    text-decoration: none!important;
}

.product-card:hover {
    border: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}


.cart-img img {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.5;
}

    .cart-img img:hover {
        opacity: 1;
    }

.cart-good-img {
    width: 15rem;
    height: 8rem;
}

.rate .review-star:before {
    content: '\2605';
}

.rate .review-star {
    margin: 0;
    padding: .2em;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px #000, 0 -1px #000, 1px 0 #000, -1px 0 #000;
}

.rate .review-star-in-color {
    color: #ffdb11 !important;
}

.transparent-input {
    background: none;
    border: none;
}

.block-product-img {
    max-height: 100%;
    max-width: 100%;
}

.product-card-img {
    height: 15rem;
}

.pagination {
    position: relative;
}
.pagination li a {
    padding: 0 0.5rem;
    color: black;

}
.pagination .active a {
    color: white;

}
.pagination li {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center; 
}

.pagination .active {
    background-color: #101010;
}