@model TechStore.ViewModels.EditOrderView
@{
    ViewBag.Title = "Edit order";
}

<div class="row justify-content-center">
    <div class="col col-lg-7 my-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="">Edit Order</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Manager">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="Id" class="control-label">Number of order</label>
                        <input type="text" asp-for="Id" class="form-control" readonly />
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="CustomerName" class="control-label">Customer name</label>
                        <input type="text" asp-for="CustomerName" class="form-control" readonly />
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="CustomerSurname" class="control-label">Customer surname</label>
                        <input type="text" asp-for="CustomerSurname" class="form-control" readonly />
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="CustomerEmail" class="control-label">Customer email</label>
                        <input type="text" asp-for="CustomerEmail" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="EndPointCity" class="control-label">City</label>
                        <input type="text" asp-for="EndPointCity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EndPointStreet" class="control-label">Street</label>
                        <input type="text" asp-for="EndPointStreet" class="form-control" />
                    </div>
                    <div class="form-group" hidden="hidden">
                        <input type="checkbox" name="SendEmail" asp-for="SendEmail" />
                        <label asp-for="SendEmail" class="control-label">Send email</label>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="OrderDate" class="control-label" >Date of order</label>
                        <input type="date" asp-for="OrderDate" class="form-control" readonly />
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="Status" class="control-label">Status</label>
                        <input type="text" asp-for="Status" class="form-control" readonly />
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Save" class="btn btn-dark"  />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>