@model TechStore.ViewModels.RegisterView

@{
    ViewData["Title"] = "Registration";
}

<div class="row justify-content-center">
    <div class="col col-lg-7 my-3">
        <div class="card" id="login-div">
            <div class="card-header">
                <div class="row">
                    <div class="col text-center">
                        <h2>Register</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col">
                                <span asp-validation-for="FirstName"></span>
                                <label for="registerFirstName">FirstName</label>
                                <input asp-for="FirstName" id="registerFirstName" class="form-control" placeholder="First Name">
                            </div>
                            <div class="col">
                                <span asp-validation-for="SecondName"></span>
                                <label for="registerSecondName">SecondName</label>
                                <input asp-for="SecondName" id="registerSecondName" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <span asp-validation-for="Phone"></span>
                                <label for="registerPhone">Phone</label>
                                <input asp-for="Phone" id="registerPhone" class="form-control" placeholder="Phone" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <span asp-validation-for="Email"></span>
                                <label for="registerEmail">Email</label>
                                <input type="email" asp-for="Email" id="registerEmail" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <span asp-validation-for="Password"></span>
                                <label for="registerPassword">Password</label>
                                <input asp-for="Password" id="registerPassword" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <span asp-validation-for="PasswordConfirm"></span>
                                <label for="registerConfirmPassword">PasswordConfirm</label>
                                <input asp-for="PasswordConfirm" id="registerConfirmPassword" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-dark" value="Register">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>