@model IEnumerable<TechStore.DAL.Models.Category>
@{
    ViewBag.Title = "Categories";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 my-3">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <div class="card product-card">
                    <div class="card-img product-card-img mx-auto align-items-center">
                        <img class="block-product-img d-block mx-auto my-auto" src="~/images/categories/all.jpg" alt=""/>
                    </div>
                    <div class="card-body">
                        <div>
                            <h3 class="text-center">All</h3>
                        </div>
                        <div>
                            <p class="text-center product-desc">All products in this online store</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        @foreach (var category in Model)
        {
            <div class="col-lg-4 my-3">
                <a asp-area="" asp-controller="Home" asp-action="TypeSearch" asp-route-goodType="@category.Id">
                    <div class="card product-card">
                        <div class="card-img product-card-img mx-auto align-items-center">
                            <img class="block-product-img d-block mx-auto my-auto" src="~/images/categories/@category.ImageURL" alt=""/>
                        </div>
                        <div class="card-body">
                            <div>
                                <h3 class="text-center">@category.Name</h3>
                            </div>
                            <div>
                                <p class="text-center product-desc">@category.Title</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>