@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row py-2">
    <div class="col-12 col-lg-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/images/carousel/devices.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/carousel/laptops.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/images/carousel/phones.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <img class="d-block w-100 py-1" src="~/images/techstore.png" alt="Tech store">
        <img class="d-block w-100 py-1" src="~/images/free_delivery.jpg" alt="Free delivery">
        <img class="d-block w-100 py-1" src="~/images/love_customers.png" alt="We love our customers">
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h2>
            The brands we are cooperating with
        </h2>
    </div>
</div>
<div class="row">

    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/apple.jpg" alt="Apple">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/samsung.jpg" alt="Samsung">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/huawei.jpg" alt="Huawei">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/xiaomi.jpg" alt="Xiaomi">
    </div>
</div>
<div class="row collapse" id="collapseBrands">

    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/acer.jpg" alt="Accer">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/fly.jpg" alt="Fly">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/lenovo.jpg" alt="Lenovo">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/meizu.jpg" alt="Meizu">
    </div>

</div>
<div class="row collapse" id="collapseBrands">
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/nokia.jpg" alt="Nokia">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 m-auto py-5" src="~/images/brands/nomi.jpg" alt="Nomi">
    </div>
    <div class="col-lg-3">
        <img class="d-block w-50 mx-auto py-5" src="~/images/brands/zte.jpg" alt="Zte">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col text-center">
        <button class="btn btn-warning" data-toggle="collapse" href="#collapseBrands" role="button" aria-expanded="false" aria-controls="collapseExample">
            More Brands
        </button>
    </div>
</div>
