@model TechStore.ViewModels.FindStorageView
@{
    ViewBag.Title = "Find storage";
}
<div class="row justify-content-center">
    <div class="col col-lg-7 my-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="">Find Storage</h2>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Find" asp-controller="Storage">
                    <div class="row py-2 justify-content-center">
                        <div class="form-group col">
                            <div class="form-group row">
                                <div class="col">
                                    <label asp-for="City" class="control-label">City</label>
                                    <input type="text" asp-for="City" placeholder="City"class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <label asp-for="Street" class="control-label">Street</label>
                                    <input type="text" asp-for="Street" placeholder="Street" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-center">
                                    <button type="submit" value="Find" class="btn btn-dark">Find</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>