<div class="container">
    <h2>Admin panel</h2>
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group text-center" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
             
                <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Good" asp-action="Index">Goods</a>
                @*
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Storage" asp-action="Index">Storages</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Producer" asp-action="Index">Producers</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Review" asp-action="Index">Confirm reviews</a>
                    </li>
                *@
            </div>
        </div>
    </div>
</div>